<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	verbose="true"
	bootstrap="./vendor/autoload.php"
>
	<php>
        <server name="HTTP_HOST" value="test.example.com" />
        <server name="HTTP_PORT" value="8080" />
        <server name="SCRIPT_NAME" value="/testing/index.php" />
        <server name="REQUEST_SCHEME" value="http" />
    </php>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
    	<whitelist>
    		<directory>./app</directory>
    	</whitelist>
    </filter>
</phpunit>